[submodule "Udacitask"]
	path = Udacitask/
	url = https://github.com/telsaiori/Udacitask
[submodule "rbnd-toycity-part-2-master"]
	path = rbnd-toycity-part-2-master/
	url = https://github.com/telsaiori/rbnd-toycity-part2